<div id="<%= dom_id rule_section %>">
  <p>
    <strong>Title:</strong>
    <%= rule_section.title %>
  </p>

  <p>
    <strong>Text content:</strong>
    <%= rule_section.text_content %>
  </p>

  <p>
    <strong>Source url:</strong>
    <%= rule_section.source_url %>
  </p>

  <p>
    <strong>Parent:</strong>
    <%= rule_section.parent_id %>
  </p>

</div>
