<div id="<%= dom_id user_query %>">
  <p>
    <strong>Content:</strong>
    <%= user_query.content %>
  </p>

  <p>
    <strong>Response text:</strong>
    <%= user_query.response_text %>
  </p>

  <p>
    <strong>User:</strong>
    <%= user_query.user_id %>
  </p>

  <p>
    <strong>Session:</strong>
    <%= user_query.session_id %>
  </p>

  <p>
    <strong>Feedback:</strong>
    <%= user_query.feedback %>
  </p>

  <p>
    <strong>Rule section:</strong>
    <%= user_query.rule_section_id %>
  </p>

</div>
